<div class="row" style="margin-top:40px">
	<% @albums.each do |album| %>
		<div class="card-container">
      <% album.images.each_with_index do |image, index| %>
        <div class="card-item">
          <%= link_to image, class: "card-img-top", 'data-lightbox': "image-#{index}", 'data-lightbox': album do %>
             <%= image_tag image, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">
              <%= album.title %>
            </h5>
            <p class="card-text">
              <%= truncate(album.body, length: 80) %>
            </p>
            <a href="/albums/<%= album.id %>" class="d-flex flex-row-reverse p-2">
              <h6 class="link-to-photos">Daugiau nuotraukų<i class="fas fa-angle-double-right ml-2"></i></h6>
            </a>
          </div>
        </div>
      <% end %>
    </div>
	<% end %>
</div>


